@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('Inconsolata.woff') format('woff');
}

::selection {
  background: #0080FF;
  text-shadow: none !important;
}
html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Inconsolata, monospace;
  color: white;
  background: #021700;
  overflow-y: hidden;
}
#container {
  /*height: 200px;*/
  width: 720px;

  position: absolute;
  top: 450px;
  bottom: 0px;

  box-sizing: border-box;
  overflow: auto;
  overflow-x: hidden;
}
#displayArea {
    width: 720px;
    border-color: green;
    border-width: 1px;
}

.dropping {
  background: #E3E3E3;
}
.interlace {
  position: absolute;
  left: 0;
  top: 0;
  background: url(interlace.png) top left repeat, rgba(255,255,255,0.5);
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 10;
  pointer-events: none;
}
.hidden {
  display: none !important;
}
#container {
  padding: 1em 1.5em 1em 1em;
  text-shadow: 0 0 5px #C8C8C8;
}
#container output {
  clear: both;
  width: 100%;
}
#container output h3 {
  margin: 0;
}
#container output pre {
  margin: 0;
}
#container output textarea {
  width: 100%;
  height: 300px;
  background-color: rgba(255,255,255,0.1);
  border: none;
  color: inherit;
  font: inherit;
  outline: 0;
  border-radius: 10px;
  padding: 5px;
}
#container output textarea::selection {
  background: red;
}

#leftColumn {
  position: absolute;
  top: 0px;
  width:720px;
  height:100%;
}

.input-line {
  /*box-align: stretch;*/
  clear: both;
}
.input-line > div:nth-child(2) {
  /*box-flex: 1;*/
}
.prompt {
  white-space: nowrap;
  color: #ffcc00; /*green;*/
  margin-right: 7px;
  display: inline-block;
}
.cmdwrap {
  display: inline-block;
  width: 600px;
}
.cmdline {
  display: inline-block;
  outline: none;
  background-color: transparent;
  margin: 0;
  width: 100%;
  font: inherit;
  border: none;
  color: inherit;
}
button {
  background: #E3E3E3;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: black;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
}
button:not([disabled]):hover {
  border-color: #ffcc00;
}
button:not([disabled]):active {
  background: #E3E3E3;
}
button[disabled] {
  color: #ccc;
}
